.babies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 350px;
    background-color: #445366;
    position: fixed;
    transition: 0.25s;
    align-self: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.warning-title{
    color: #CAF8FB;
}

